---
layout: default-header
---


<section class="section">
	<div class="grid">
		<div class="col-start--1/12 col-end--6/12">
			<div class="text-block">
				<h1>Work</h1>
				<p>
					Here is a little bit of text where I'll introduce the work that I've done. Should probably keep it simple so I can actually get shit done. 
				</p>
			</div>
		</div>
	</div>
</section>


<!-- Yeti -->
<section class="section" style="overflow-x:initial;">
	<div class="grid">
		<div class="box span--4/12">
			<div class="sticky">
				<div class="text-block">
					<h2>Yeti</h2>
				</div>
			</div>
		</div>
		<div class="box span--8/12">
			<div class="repeater-row--5">
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-01.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-02.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-03.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-04.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-05.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-06.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-07.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-08.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-09.jpg">
					</figure>
				</div>
				<div class="box">
					<figure class="img-block hover--scale">
						<img src="/assets/work/yeti/yeti-10.jpg">
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Sonoma Stuff -->
<section class="section" style="overflow-x:initial;">
	<div class="grid">
		<div class="box span--4/12">
			<div class="sticky">
				<div class="text-block">
					<h2>Sonoma State Enterprises</h2>
				</div>
			</div>
		</div>
		<div class="box span--8/12">
			<div class="repeater-row--4 repeater-row@mobile--3 repeater-row@mobile--1 repeater-row@landscape--2 repeater-row@tablet--3 column-gap--2px row-gap--2px">
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/1.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/2.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/3.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/4.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/5.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/6.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/7.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/9.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/10.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/11.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/12.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/13.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/14.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/15.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/16.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/17.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/18.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/19.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/20.jpg">
				</figure>
			</div>
			<div class="box">
				<figure class="img-block hover--scale">
					<img src="/assets/work/sonoma/21.jpg">
				</figure>
			</div>
		</div>
		</div>
	</div>
</section>

<!-- <section class="section">
	<div class="grid--fluid">
		<div class="repeater-row--2 repeater-row@mobile--1 repeater-row@landscape--1 repeater-row@tablet--1 ">
			{% for post in site.categories[page.category] %}
			<div class="box ratio--16-9">
				<a href="{{ post.url }}">
					<div class="container--absolute">
						<div class="grid h--100 p--sm">
							<div class="box span--12/12 align-self--end">
								<div class="text-block color--white">
									<h2 class="bg-color--smoked inline p--xs">{{ post.title }}</h2>
								</div>
							</div>
						</div>
					</div>
					<figure class="bg-block">
						<img src="{{ post.featured-img }}">
					</figure>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section> -->
